data/
*.zip
*.mp4
*.wav

# Model weights (optional, if large)
checkpoints/

# Python virtual environments
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

node_modules
*.wmv

# Streamlit temp files
__streamlit_temp.csv
